In [22]:
# H.W. :- Prime number checker
def isPrime(num):
    sqrt = int(num ** 0.5)
    for i in range(2, sqrt):
        if(num % i == 0):
            return False;
    return True;

In [37]:
print(isPrime(24))

False

In [59]:
# Interning
# In python, to save memory, ints from -5 to 256 have same location even if declared seperately
# But its not like shallow copy, if we change one variable, it won't affect the others.
# Reference :- https://docs.python.org/3/library/functions.html#id
a = 22
b = 22
c = 22
d = 22
print(a is b, b is c, c is d, d is a) # a is b -> Returns true if both point to the same object
a = 257
b = 257
print(a is b)
a = 34
print(a, b)

True True True True
False
34 257

In [119]:
# Strings
# 'ord' used for knowing ASCII value of the character
print(ord('f'));
# 'chr' gives character for a particular ASCII value
print(chr(65))

102
A

In [67]:
# Strings can be concatenated using +
print("Rohan" + " Chhibba")
# However, ints won't be auto typecasted to strings in concatenation
# print("Hello" + 69) -> This won't work
print("Hello" + '69')

Rohan Chhibba
Hello69

In [76]:
# Alternate way to include non-strings inside strings
print("Hello {}, how r u doing in {}".format("Rohan", print))

Hello Rohan, how r u doing in <built-in function print>

In [70]:
# Alternate way of above
print(f"Hello {234}, how r u doing in {2352}")

Hello 234, how r u doing in 2352

In [75]:
def fun1(inp1, inp2, inp3):
    print(f"This is {inp1} a {inp2} string {inp3}")
fun1(print, 2, 3)

This is <built-in function print> a 2 string 3

In [79]:
# To delete a variable from memory allocation
num1 = 2
print(num1)
del num1
print(num1) # This will now give error

2

NameError: name 'num1' is not defined

In [85]:
def password(inp):
    if(inp.lower() == "yes"):
        print("Authenticated");
    else:
        print("Not authenticated")
password("yEs")

Authenticated

In [89]:
# Taking input unless "yes" is inputted
str = "";
while(str.lower() != 'yes'):
    char = input("Enter character:- ")
    if((str == '' and char == "y") or (str == 'y' and char == 'e') or (str == 'ye' and char == 's')):
        str = str + char
    continue

Enter character:- 3
Enter character:- 4
Enter character:- y
Enter character:- e
Enter character:- s

In [ ]:
# String functions:-
# str.strip() :- Removes leading spaces
# str.split(str1):- Removes str1 from everywhere, splits string at those removals, and returns a list
# str.replace(str1, str2):- Replaces all instances of str2 with str1
# str.count(str1):- Returns count of all instances of str1 in str

In [96]:
# 1.) Strip:- Removes any leading or beginning spaces
# Doesn't update the given string.
print("          sdfsdfsdf", "      sdfsdfsdf".strip())

          sdfsdfsdf sdfsdfsdf

In [106]:
# 2.) Split:- 
# Removes all spaces and splits the strings across those removals, or slits at the string given, and returns the list.
# Doesn't update the given string.
print("The dog is running".split())
print("The dog      is running       ".split())
print("The dog    ,  is runn,ing       ".split(','))

['The', 'dog', 'is', 'running']
['The', 'dog', 'is', 'running']
['The dog    ', '  is runn', 'ing       ']

In [111]:
# 3.) Replace:-
# Replaces the given string with the other given string
# Doesn't update the given string.
print("Hello My name is Rohan".replace("ll", "yoyo"))
# Can be used to delete a particular string from everywhere in the string
print("Ropnhan ipns apn gopnod boypn".replace("pn", ''))

Heyoyoo My name is Rohan
Rohan is a good boy

In [117]:
# Taking input unless "hello" is inputted
while(str != 'hello'):
    inp = input();
    if(inp.replace(" ", '').lower() == 'hello'):
        print("Aut")
        break;
    else:
        print("Not Aut")

h e ll o
Aut

In [118]:
# 4.) Count:- Prints number of times a string appears in another string
print("ll ll ll ll l".count("ll"))

4

In [40]:
# Inbuilt data structures:-
#Lists, Tuples, Dictionaries, Sets

In [41]:
#Lists
students = ["India", "Brazil", "China", "Russia"];
print(type(students))

<class 'list'>

In [120]:
# Lists are heterogenous
# Lists can contain other lists
list1 = [123, "fasdlfkj", 'a', [1231, 1231, "2323"], print];
print(list1, type(list1))

[123, 'fasdlfkj', 'a', [1231, 1231, '2323'], <built-in function print>] <class 'list'>

In [134]:
# Lists are indexable:-
print(list1[3])
print(len(list1))
print(len("sdfksjf"))
print(type(list1[-1]))
print(type(list1[-2]))
print(list1[-1]("Hello" + "yyoyo")) # Passing argument to print function, got from list

[1231, 1231, '2323']
5
7
<class 'builtin_function_or_method'>
<class 'list'>
Helloyyoyo
None

In [143]:
# Joining 2 lists
print([1, 1] + [2, 3])
# Appending
list1.append("Appended element") # Only updates the list, doesn't return anything. Thus, can't print while appending.
print(list1)

[1, 1, 2, 3]
[123, 'fasdlfkj', 'a', [1231, 1231, '2323'], <built-in function print>, 'sdlfkj', 'sdlfkj', 'sdlfkj', 'Appended element']

In [154]:
# Insert
list1.insert(0, "Inserted element")
print(list1)

['Inserted element', 'Inserted element', 'Inserted element', 123, 'fasdlfkj', '22', [1231, 1231, '2323'], <built-in function print>, 'sdlfkj', 'sdlfkj', 'sdlfkj', 'Appended element']

In [156]:
# Pop - Pops out the last element
print(list1.pop()) # Returns popped element also, pops last element out

sdlfkj

In [179]:
# Remove - Removes the given element from the list, if multiple elements, removes element with smallest index
list2 = [2, 2, 3, 4, 2]
list2.remove(2); # Removes element that appears 1st in the list
print(list2)

[2, 3, 4, 2]

In [172]:
# sorted - Returns sorted list, doesn't update the list.
print(sorted(list2))
print(sorted(list2, reverse = True)) # Sort descending

[2, 2, 3, 4]
[4, 3, 2, 2]

In [167]:
a = [1, 1]
b = [1, 1]
print(a is b)
a = b
print(a is b)

False
True

In [187]:
list3 = [1, 2, 3, 4, 5]
list3.reverse() # Reverse order of elements in the list. Doesn't return anything. Only updates the list
print(list3)

[5, 4, 3, 2, 1]

In [189]:
# Tuple
# Exactly same as list, but immutable
# Thus, immutable arrays.
tup = (1, 2, 3, print, [2323230, 232], "sdlfksjf", (3, 2, 4))
print(tup, type(tup))

(1, 2, 3, <built-in function print>, [2323230, 232], 'sdlfksjf', (3, 2, 4)) <class 'tuple'>

In [191]:
tup[0] = 2 # Gives error.

TypeError: 'tuple' object does not support item assignment

In [192]:
tup[4] = 232

TypeError: 'tuple' object does not support item assignment

In [196]:
# The list inside a tuple is still mutable:- This is because the list is still at the same location, tuple only stores its reference.
print(id(tup[4]))
tup[4][0] = 2
tup[4].append("new element")
print(tup)
print(id(tup[4]))

1414156259648
(1, 2, 3, <built-in function print>, [2, 232, 'new element', 'new element', 'new element'], 'sdlfksjf', (3, 2, 4))
1414156259648

In [198]:
# Typecasting tuple to list and vica versa is possible
tupleList = list(tup)
print(tupleList)

[1, 2, 3, <built-in function print>, [2, 232, 'new element', 'new element', 'new element'], 'sdlfksjf', (3, 2, 4)]

In [208]:
# Dictionary:- A collection of key-value pairs, are immutable
# Keys can be strings, numeric, function, tuples but not lists -> Basically immutable types.
# Keys can't be repeated.
# Lists can be changed by going to their location, like in tuples.
# H.W.:- Research more on this, pointers and immutability
dict1 = {
    'a': 1,
    1:2,
    print:3,
    2:(34, '343'),
    (34, '343'):2
}

In [209]:
dict1

{'a': 1,
 1: 2,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>: 3,
 2: (34, '343'),
 (34, '343'): 2}

In [235]:
dict2 = {
    'a':2,
    'b':3,
    'c':'sdfkj',
    4:34,
    'key':{
        'a':3,
        'b':4
    }
}
print(dict2['a'], dict2[4], dict2.get('b'))
print(dict2)
print(dict2['key']['a'])
print(dict2['key'])
print(dict2.get('key'))
dict2['key'] = 2

2 34 3
{'a': 2, 'b': 3, 'c': 'sdfkj', 4: 34, 'key': {'a': 3, 'b': 4}}
3
{'a': 3, 'b': 4}
{'a': 3, 'b': 4}

In [236]:
dict2.items()
# In backend, dictionary is stored as list of immutable tuples.

dict_items([('a', 2), ('b', 3), ('c', 'sdfkj'), (4, 34), ('key', 2)])

In [242]:
for i in dict2.items():
    # i is a tuple in the dict2.items
    print(i[0], ':', i[1])

a : 2
b : 3
c : sdfkj
4 : 34
key : 2

In [247]:
# Get keys and values seperately.
# We can type cast like this too.
print(dict2.keys())
print(dict2.values())
print(list(dict2.keys()))
print(list(range(10)))

dict_keys(['a', 'b', 'c', 4, 'key'])
dict_values([2, 3, 'sdfkj', 34, 2])
['a', 'b', 'c', 4, 'key']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [245]:
for i in dict2.keys():
    print(i)

a
b
c
4
key

In [251]:
# H.W.:- Make a list/dictionary that has 4 students, input name, age, marks, student.
def makeStudentDict(numStudents):
    studentDict = {};
    while(numStudents != 0):
        studentName = input("Please Enter Student Name:- ");
        studentDict[studentName] = {
            'age':'',
            'marks':'',
        };
        studentDict[studentName]['age'] = input("Please Enter Student Age:- ");
        studentDict[studentName]['marks'] = input("Please Enter Student Marks:- ");
        numStudents-=1
    return studentDict;

In [252]:
makeStudentDict(2)

Please Enter Student Name:- Rohan
Please Enter Student Age:- 25
Please Enter Student Marks:- 20
Please Enter Student Name:- Sid
Please Enter Student Age:- 24
Please Enter Student Marks:- 10

{'Rohan': {'age': '25', 'marks': '20'}, 'Sid': {'age': '24', 'marks': '10'}}

In [257]:
# 2nd approach to the above function, however, it takes age and marks before name.
def makeStudentDict2(numStudents):
    studentDict = {};
    while(numStudents != 0):
        studentDict[input("Please Enter Student Name:- ")] = {
            'age':input("Please Enter Student Age:- "),
            'marks':input("Please Enter Student Marks:- "),
        };
        numStudents-=1
    return studentDict;

In [258]:
makeStudentDict2(2)

Please Enter Student Age:- 25
Please Enter Student Marks:- 24
Please Enter Student Name:- Rohn
Please Enter Student Age:- 23
Please Enter Student Marks:- 24
Please Enter Student Name:- dofido

{'Rohn': {'age': '25', 'marks': '24'}, 'dofido': {'age': '23', 'marks': '24'}}

In [259]:
dict2.items()

dict_items([('a', 2), ('b', 3), ('c', 'sdfkj'), (4, 34), ('key', 2)])

In [260]:
# Simply iterating over the dictionary returns keys of the dictionary
for i in dict1:
    print(i)

a
1
<built-in function print>
2
(34, '343')